@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri , sans-serif;
}

body {

	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	text-align: center;
    height: 100vh;
	background: url('images/nine.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	color: black;
	font-family: calibri;
}

.mainContainer {
  width: 25rem;
  height: auto;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.searchInput {
  width: 100%;
  display: flex;
  padding: 1rem 1rem;
  justify-content: center;
}

.searchInput input {
  width: 100%;
  height: 2rem;
  outline: none;
  font-size: 1rem;
  color: #525050;
  padding: 0.2rem 0.5rem;
  border-radius: 1.5rem;
  border: 1px solid #a5c456;
}

.searchInput input:focus {
  border: 2px solid #a5c456;
}

.searchInput button {
  width: 2.2rem;
  height: 2rem;
  cursor: pointer;
  color: #9b9b9b;
  border-radius: 50%;
  margin-left: 0.4rem;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid white;
}

.searchInput button:hover {
  color: #fff;
  background-color: #a5c456;
  border: 1px solid white;
}

.weatherIcon {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  color: white;
}

.weatherIcon img {
  max-width: 100%;
  width: 8rem;
}

.weatherDetails .temp{
 font-size: 2rem;
}

.cityDetails {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.cityDetails .date {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.windDetails {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  justify-content: space-around;
  color: white;
}

.windDetails .humidityBox {
  display: flex;
  font-size: 1rem;
  color: white;
}

.windDetails .humidity .humidityValue {
 text-align: center;
  font-size: 2rem;
  color: white;
}

.windDetails .humidityBox img {
  max-height: 3rem;
  margin-right: 0.5rem;
}

.windDetails .windSpeed {
  display: flex;
  font-size: 1rem;
  color: white;
}

.windDetails .windSpeed img {
  max-height: 3rem;
  margin-right: 0.5rem;
}


image-logo{
        height: auto;
        width: auto;
        filter: drop-shadow(20px 10px 10px black);
}
